svg.radial-progress {
  height: auto;
  max-width: 300px;
  padding: 1em;
  transform: rotate(-90deg);
  width: 100%;
}
svg.radial-progress circle {
  fill: rgba(0,0,0,0);
  stroke: #0FBF61;
  stroke-dashoffset: 219.91148575129; 
  stroke-width: 5;
}

svg.radial-progress circle.incomplete { opacity: 0.15; }

svg.radial-progress circle.complete { stroke-dasharray: 219.91148575129; }

svg.radial-progress text {
  font-weight: bold;
  font-size: 15px;
  fill: #151D41;
  text-anchor: middle;
}